@import url(https://fonts.googleapis.com/css?family=Lato);

body {
  font-family: 'Lato';
  line-height: 1.4;
}

h1, h2, h3 {
  font-family: 'Yanone Kaffeesatz';
  font-weight: normal;
  margin-bottom: 0;
}

.remark-slide-content h1 { font-size: 5em; }
.remark-slide-content h2 { font-size: 2em; }
.remark-slide-content h3 { font-size: 1.6em; }
