@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Montserrat);

body {
  font-family: 'Lato';
  line-height: 1.4;
}

h1, h2, h3 {
  font-family: 'Montserrat';
  font-weight: normal;
  margin-bottom: 0;
}

.remark-slide-content h1 { font-size: 5em; }
.remark-slide-content h2 { font-size: 2em; }
.remark-slide-content h3 { font-size: 1.6em; }

.remark-slide-content li { font-size: 2 em; }

blockquote {
  padding: 0 15px;
  color: #000;
  border-left: 4px solid #ddd;
}
