 body {
        background: #000;
      }
      p {
        margin: 0;
        word-wrap: break-word;
      }
      ul, ol {
        margin: 0;
      }
      .slide-content {
        border: 1px solid black;
        margin: 20px auto;
        position: relative;
      }
      .slide-notes {
        background: #fff;
        margin: 10px;
        padding: 10px;
      }
      .shape {
        position: absolute;
        word-wrap: break-word;
      }
      .table {
        position: absolute;
      }
